<app-toolbar-superiore></app-toolbar-superiore>
<ion-content>
  <div class="padding">
    <h1>Lista Autori</h1>
  </div>

  <div class="padding">
    <br />
    <h4>Filtri</h4>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col style="padding-left: 10%">
          <ion-card style="background-color: rgba(210, 210, 210, 0.365)">
            <ion-input placeholder="NOME" color="secondary"></ion-input>
          </ion-card>
        </ion-col>
        <ion-col style="padding-left: 10%">
          <ion-card style="background-color: rgba(210, 210, 210, 0.365)">
            <ion-input placeholder="COGNOME" color="secondary"></ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
      <br />
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button color="secondary">RESET</ion-button>
          <ion-button color="secondary">CERCA</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <hr color="black" />
  <div class="padding">
    <ion-grid>
      <ion-row style="background-color: #082444; color: white">
        <ion-col> NOME </ion-col>
        <ion-col> COGNOME </ion-col>
        <ion-col class="ion-text-center"> AZIONI </ion-col>
      </ion-row>
      <ion-grid>
        <app-oggetto-autore
          *ngFor="let autore of lista"
          nome="{{autore.name}}"
          cognome="{{autore.surname}}"
        ></app-oggetto-autore>
      </ion-grid>
    </ion-grid>
    <br /><br />
  </div>
  <app-toolbar-inferiore></app-toolbar-inferiore>
</ion-content>