.padding{
    padding-left:15%;
    padding-right:15%;
}

.app-toolbar-inferiore {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    bottom: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}