<ion-content>
  <br />
  <br />
  <br />
  <br />
  <div class="center">
    <img src="assets/icon/logo_devskill@2x.png" width="8%" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <br />
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <h6>Benvenuti</h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              id="username"
              name="username"
              color="primary"
              placeholder="username"
              type="text"
              [(ngModel)]="username"
              formControlName="username"
            ></ion-input>
            <ion-icon color="secondary" slot="end" name="mail"></ion-icon>
          </ion-item>
          <h6 style="font-size: small; color: grey">Inserisci username</h6>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              id="pass"
              name="pass"
              color="primary"
              placeholder="password"
              type="password"
              [(ngModel)]="password"  
              formControlName="password"
            ></ion-input>
            <ion-icon
              color="secondary"
              slot="end"
              name="lock-closed"
            ></ion-icon>
          </ion-item>
          <h6 style="font-size: small; color: grey">Inserisci password</h6>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="secondary" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>

        <ion-col>
          <div *ngIf="loginForm.errors?.unauthenticated">
            <label class="ion-text-center">ASD</label>
          </div>
        </ion-col>

        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<app-toolbar-inferiore></app-toolbar-inferiore>