<ion-content>
  <br />
  <br />
  <br />
  <br />
  <div class="center">
    <img src="assets/icon/logo_devskill@2x.png" width="8%" />
  </div>

  <form>
    <br />
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <h6>Benvenuti</h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              color="primary"
              placeholder="username"
              type="email"
            ></ion-input>
            <ion-icon color="secondary" slot="end" name="mail"></ion-icon>
          </ion-item>
          <h6 style="font-size: small; color: grey">Inserisci username</h6>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              color="primary"
              placeholder="password"
              type="password"
            ></ion-input>
            <ion-icon
              color="secondary"
              slot="end"
              name="lock-closed"
            ></ion-icon>
          </ion-item>
          <h6 style="font-size: small; color: grey">Inserisci password</h6>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="secondary">Login</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<app-toolbar-inferiore></app-toolbar-inferiore>